* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #090b1a;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: #1b1938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  max-width: 1140px;
  margin: 5%;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6%;
}

.card-text .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 85%;
}

.card-text h1 {
  color: white;
  font-size: 3.4rem;
  margin-bottom: 2.8rem;
  line-height: 4.2rem;
  letter-spacing: 0.6px;
}

.card-text span {
  color: #aa5cdb;
}

.card-text .text {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
}

.stat-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.stat-num {
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
}

.stat-title {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.card-image {
  background-color: #aa5cdb;
  border-radius: 0 1rem 1rem 0;
  position: relative;
}

img {
  height: 100%;
  mix-blend-mode: multiply;
}

.img-mobile {
  display: none;
}

.pink {
  background-color: #aa5cdb;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 1rem 1rem 0;
}

@media screen and (max-width: 1050px) {
  .stat-title {
    font-size: 1.1rem;
  }
  .card-text .block {
    width: 100%;
  }
  .card-text h1 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
  }
  .card-text .text {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 980px) {
  .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 78%;
    margin: 3% 0;
  }
  .stats {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stat-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1.6rem;
  }
  .card-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 1rem 1rem 0 0;
  }
  img {
    border-radius: 1rem 1rem 0 0;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
  }
  .pink {
    border-radius: 1rem 1rem 0 0;
  }
  .card-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10%;
  }
  .card-text h1 {
    font-size: 3.4rem;
    line-height: 4.2rem;
    margin-bottom: 3rem;
    letter-spacing: 0.6px;
  }
  .card-text .text {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 88%;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stat-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.6rem;
  }
  .card-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 1rem 1rem 0 0;
  }
  img {
    border-radius: 1rem 1rem 0 0;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
  }
  .pink {
    border-radius: 1rem 1rem 0 0;
  }
  .card-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 10%;
  }
  .card-text h1 {
    font-size: 2.6rem;
    text-align: center;
    line-height: 3.6rem;
    margin-bottom: 1.2rem;
  }
  .card-text .text {
    text-align: center;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */